*{
    font-family: Arial, Helvetica, sans-serif;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer{
    width: 220px;
    height: 350px;
    margin: 20px;
    background-color: rgb(229, 232, 235);
    border-radius: 10px;
}
.shimmer-btn{
    width: 170px;
    height: 40px;
    margin: 25px; 
    border-style: none;
    background-color: rgb(229, 232, 235);
    border-radius: 10px;
    position: relative;
    right: -1600px;
}