
.res-container{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.filter-btn{
    margin: 25px;
    cursor: pointer;
    border-style: none;
    background-color: rgb(238, 130, 90);
    padding: 8px;
    color: aliceblue;
    border-radius: 10px;
    position: relative;
    right: -1600px;
    transition: 0.4s;
}
.filter-btn:hover{
    background-color: coral;
    font-size: 19px;
}
.search-txt{
    height: 21px;
    width: 700px;
    margin-left: 500px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    background-color: rgb(242, 243, 243);
}

.search-container .search-logo{
    height: 40px;
    width: 50px;
    margin-left: -53px;
    border-left: 1px solid black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 2px;
}
.search-container{
    display: flex;
    margin-top: 10px;
}